
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>


<dl>
    <dt>BSC</dt>
    <dd>- DEPT</dd>
    <dd>- YEAR</dd>
    <dd>- ANS</dd>
    <dt>HSC</dt>
    <dd>- INS</dd>
    <dd>- GRUP</dd>
</dl>
<a href="/DotNet/Home">HOME</a>
<a href="/DotNet/Education">EDUCATION</a>
<a href="/DotNet/Project">PROJECT</a>
<a href="/DotNet/Referance">REFERANCE</a>
