
@{
    ViewBag.Title = "Home";
}

<h2>Name:</h2>
<h2>Email:</h2>
<h2>Id:</h2>
<a href="/DotNet/Home">HOME</a>
<a href="/DotNet/Education">EDUCATION</a>
<a href="/DotNet/Project">PROJECT</a>
<a href="/DotNet/Referance">REFERANCE</a>
