
@{
    ViewBag.Title = "Project";
}

<h2>Project:</h2>
<table>

    <tr>
        <th>OOP</th>
        
    </tr>
    <tr>
        
        <th>OOP2</th>
        
    </tr>
    <tr>
        
        <th>WEBTEC</th>
       
    </tr>
    <tr>
        
        <th>ADV EWB</th>
    </tr>

</table>

<a href="/DotNet/Home">HOME</a>
<a href="/DotNet/Education">EDUCATION</a>
<a href="/DotNet/Project">PROJECT</a>
<a href="/DotNet/Referance">REFERANCE</a>
