
@{
    ViewBag.Title = "Referance";
}

<h2>Referance</h2>

<h2> 1. name</h2>
<a href="/DotNet/Home">HOME</a>
<a href="/DotNet/Education">EDUCATION</a>
<a href="/DotNet/Project">PROJECT</a>
<a href="/DotNet/Referance">REFERANCE</a>