
@model lab1Practice.Models.Product


@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Logged.cshtml";
}

<h2>MyProfile</h2>

<h6>@Model.Name</h6>
<h6>@Model.Id</h6>
<h6>@Model.Price</h6>

